button{
  cursor: pointer;
}

.bookcreate{
  display: flex;
  flex-direction: column;
  width: 12rem;
  gap: .2rem;
}

.bookcreate input{
  padding: .5rem;
  font-size: 1.1rem;
}
.bookcreate button{
  width: fit-content;
}

.booklist{
  display: flex;
  margin-top: 1rem;
  gap: 3rem;
}

.bookshow{
  border: 1px solid black;

  width: 6rem;
  height: 6rem;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  font-size: .8rem;
  font-weight: 700;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bookshow .buttons{
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: -22%;
}
.bookshow button{
  background-color: inherit;
  border: 1px solid black;
}


.bookedit{
  width: 8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 14%;
  background-color: antiquewhite;
  padding: .8rem;
  gap: .4rem;
  z-index: 1;
}

.bookedit button{
  width: fit-content;
}